.board {
  display: inline-flex;
  flex-direction: column;
  background: #deb887;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.board-row {
  display: flex;
}

.board-cell {
  width: 32px;
  height: 32px;
  border: 1px solid #8b7355;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #deb887;
  position: relative;
}

.board-cell::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #8b7355;
  z-index: 0;
}

.board-cell::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #8b7355;
  z-index: 0;
}

.board-cell > * {
  position: relative;
  z-index: 1;
}
