// 隐藏版滚动条的宽度，同时在左侧用padding补偿
$liry-scrollbar-width: 8px;
$liry-hover-color: rgb(40 43 70 / 36.3%);
$liry-dark-color-1: #220e25;
$liry-dark-color-2: #321d3b;
$liry-dark-color-3: #30564d;
$liry-dark-color-4: #599e8e;
$liry-dark-color-5: #8fffe5;

// 隐藏滚动条，然后只在滚动的时候出现透明度50%的滚动条
@mixin liry-hide-scrollbar {
  overflow-y: auto;
  padding-left: $liry-scrollbar-width;

  &::-webkit-scrollbar {
    width: $liry-scrollbar-width;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hwb(0deg 15% 84% / 0%);
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 0;
  }

  &.is-scrolling::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 1;
  }

  scrollbar-width: thin;
  scrollbar-color: rgb(0 0 0 / 36.3%) transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin liry-hover {
  &:hover {
    box-shadow: 3px 3px 10px $liry-hover-color;
    transform: translateY(-5px);
    transform: translateX(-5px);
    transform: translateZ(-5px);
  }
}
